@import url("../../assets/css/color.css");

.button {
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-family: monospace;
}

.button-primary {
  color: white;
  background-color: var(--color-dim-black);
  border: 1px solid currentColor;
}

.button-primary:hover {
  background-color: var(--color-deep-gray);
}

@media (prefers-color-scheme: dark) {
  .button-primary {
    color: var(--color-dim-black);
    background-color: white;
    border: 1px solid currentColor;
  }

  .button-primary:hover {
    background-color: lightgray;
  }
}

.button-secondary {
  color: var(--color-dim-black);
  background-color: white;
  border: 1px solid currentColor;
}

.button-secondary:hover {
  background-color: lightgray;
}

@media (prefers-color-scheme: dark) {
  .button-secondary {
    color: white;
    background-color: var(--color-dim-black);
    border: 1px solid currentColor;
  }

  .button-secondary:hover {
    background-color: var(--color-deep-gray);
  }
}

.button-danger {
  color: white;
  background-color: brown;
  border: 1px solid currentColor;
}

.button-danger:hover {
  background-color: maroon;
}

.button-small {
  font-size: 10px;
  padding: 8px 16px;
  min-width: 60px;
}

.button-medium {
  font-size: 12px;
  padding: 9px 18px;
  min-width: 70px;
}

.button-large {
  font-size: 13px;
  padding: 10px 20px;
  min-width: 80px;
}

.button-disabled {
  pointer-events: none;
  opacity: 0.6;
}
